<!DOCTYPE html>
<html lang="ja">
<head>
<title>セキュリティインシデント体験ツール</title>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.css}">
<link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/sie-platform-win.css}">
<th:block th:each="extensionCssPath : ${extensionCssPaths}"><link rel="stylesheet" type="text/css" th:href="@{${extensionCssPath}}">
</th:block>

<style type="text/css">

</style>
</head>
<body></body>

<script th:src="@{/js/jquery.min.3.3.1.js}"></script>
<script th:src="@{/js/jquery-ui.min.1.12.1.js}"></script>
<script th:src="@{/js/sie.js}"></script>
<script th:src="@{/js/sie-platform-win.js}"></script>
<th:block th:each="extensionJsPath : ${extensionJsPaths}"><script src="sie/js/sie-module-win-explore.js" th:src="@{${extensionJsPath}}"></script>
</th:block>

<script th:inline="javascript">
var sie = null;
[# th:each="extension : ${instruction.virtualMachine.extensions}"]
var [# th:utext="${extension.extensionName}" /] = null;
[/]


$(function(){
	sie = $('body').sie('win', {'background-image':'url([[@{/background.png}]])'});
	
	[# th:each="extension : ${instruction.virtualMachine.extensions}"]
	[# th:utext="${extension.extensionName}" /] = new [# th:utext="${extension.className}" /]([# th:utext="${extension.id}" /]);

	// 汎用プロパティの展開
	[# th:each="extensionProperty : ${extension.extensionProperties}"]
	[# th:utext="${extension.extensionName}" /].[# th:utext="${extensionProperty.propertyName}" /]=[# th:if="${extensionProperty.isText==true}"][# th:text="${extensionProperty.propertyValue}" /][/][# th:if="${extensionProperty.isText==false}"][# th:utext="${extensionProperty.propertyValue}" /][/];
	[/]

	// 固有プロパティの展開
	[# th:utext="${extension.specificProperty}" /]

	[/]
	

});
</script>
</html>
