
	<div class="form-row">
		<div th:class="'form-group col-sm-3' + ${#fields.hasErrors('completionPointKeycode') ? ' form-attention' : ''}">
			<label for="scenarioKeycode">履修ポイントコード</label>
			<input type="text" class="form-control" th:field="*{completionPointKeycode}"  th:maxlength="${length.completionPointKeycode}"/>
			<span th:errors="*{completionPointKeycode}" class="alert-message"/>
		</div>
		<div th:class="'form-group col-sm-1'">
		</div>
	</div>


	<div class="form-row">
		<div th:class="'form-group col-sm-12' + ${#fields.hasErrors('description') ? ' form-attention' : ''}">
			<label for="description">説明</label>
			<input type="text" class="form-control" th:field="*{description}" th:maxlength="${length.description}"/>
			<span th:errors="*{description}" class="alert-message"/>
		</div>
	</div>

	<div class="form-row">
		<div th:class="'form-group col-sm-12' + ${#fields.hasErrors('descriptionEn') ? ' form-attention' : ''}">
			<label for="description">説明（英語）</label>
			<input type="text" class="form-control" th:field="*{descriptionEn}" th:maxlength="${length.description}"/>
			<span th:errors="*{descriptionEn}" class="alert-message"/>
		</div>
	</div>


	<div class="form-row">
		<div th:class="'form-group col-sm-3' + ${#fields.hasErrors('isInvalided') ? ' form-attention' : ''}">
			<div><label for="isInvalided">状態</label></div>
			<div class="form-check form-check-inline">
				<input type="checkbox" th:field="*{isInvalided}" th:value="true" data-toggle="toggle"  data-on="無効" data-off="有効" data-onstyle="danger" data-offstyle="success"/>
				<span th:errors="*{isInvalided}" class="alert-message"/>
			</div>
		</div>
	</div>

	