@charset "utf-8";

div.sie-module-win-chrome{
}

div.sie-module-win-chrome div.titlebar{
	background-color:#DEE1E6;
	height:40px;
}

div.sie-module-win-chrome div.titlebar img{
	display:none;
}

div.sie-module-win-chrome div.titlebar span{
	display:none;
}

div.sie-module-win-chrome div.tab-menu{
	position:absolute;
	font-size:13px;
	top:10px;
	height:30px;
	background-color:#fff;
	padding-left:15px;
	padding-right:15px;
	-webkit-border-radius: 7px 7px 0px 0px / 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px / 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px / 7px 7px 0px 0px;
}

div.sie-module-win-chrome div.tab-menu img{
	display:inline-block;
	margin-top:-4px;
}

div.sie-module-win-chrome div.tab-menu i{
	color:#666;
	margin-left:20px;
}


div.sie-module-win-chrome div.sie-module-win-chrome-body{
	width:100%;
	height:100%;
	overflow:auto;
}


div.sie-module-win-chrome div.titlebar{
	height:82px;
}

div.sie-module-win-chrome div.titlebar div.menu-bar{
	height:42px;
	width:calc(100% + 10px);
	position:relative;
	background-color:#fff;
	border-bottom:solid 1px #ccc;
	top:40px;
	left:-10px;
	border-bottom: solid 1px #ccc;
}

div.sie-module-win-chrome div.titlebar div.menu-bar i{
	font-size:20px;
	margin-left:15px;
	color:#666;
	margin-top:10px;
}

div.sie-module-win-chrome div.titlebar div.menu-bar i.fa-arrow-right{
	color:#ccc;
}

div.sie-module-win-chrome div.titlebar div.menu-bar div.address-bar{
	display:inline-block;
	width:calc(100% - 200px);
	background-color:#F1F3F4;
	height:30px;
	margin-left:15px;
	margin-top:5px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}

div.sie-module-win-chrome div.titlebar div.menu-bar div.address-bar span{
	display:inline-block;
	width:40px;
}

div.sie-module-win-chrome div.titlebar div.menu-bar div.address-bar span i{
	font-size:17px;
	line-height:11px;
	margin-top:5px;
	margin-left:15px;
}

div.sie-module-win-chrome div.titlebar div.menu-bar div.address-bar input[type=text]{
	height:100%;
	width:calc(100% - 60px);
	border:none;
	background-color:transparent;
	padding-left:10px;
}

div.sie-module-win-chrome div.titlebar div.menu-bar i.fa-user-circle{
	position:absolute;
	right:0;
	margin-right:40px;
}

div.sie-module-win-chrome div.titlebar div.menu-bar div.setting {
	display:inline-block;
	position:absolute;
	right:0;
	margin-right:10px;
	background-color:#fff;
	width:25px;
	height:25px;
	top:8px;
	text-align:center;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	transition: all .2s;
}

div.sie-module-win-chrome div.titlebar div.menu-bar div.setting:hover {
	background-color:#eee;
}

div.sie-module-win-chrome div.titlebar div.menu-bar i.fa-ellipsis-v {
	margin-left:2px;
	margin-top:3px;
}
div.sie-module-win-chrome div.titlebar div.menu-bar br{
	clear:both;
}

