<!doctype html>
<html lang="ja">

<head th:replace="front/commons::head(title=~{::title}, links=~{::link}, styles=~{::style})">
<title>ユーザー情報編集｜Secure Practice</title>

<style type="text/css">

</style>

</head>


<body th:with="length=${T(com.office_nico.spractice.constants.Length)}">
<header class="container-fluid" th:replace="front/commons::header"/>


<div class="container-fluid pb-5 main">


<th:block th:replace="front/commons::tabs('profile')"/>

<div class="main_body">

<div class="alert alert-info" role="alert" id="idCompleateMessage" style="display:none;">ユーザー情報を編集しました。</div>

<h5 class="font-weight-bold title mb-4">ユーザー情報の編集</h5>


<form id="idForm" method="post" th:action="@{/{clientKeycode}/profile(clientKeycode=${clientKeycode})}" th:object="${obj}" >
	<div class="form-row">
		<div th:class="'form-group col-sm-6' + ${#fields.hasErrors('familyName') ? ' form-attention' : ''}">

			<label for="familyName">姓</label>
			<input type="text" class="form-control" th:field="*{familyName}" th:maxlength="${length.familyName}"/>
			<span th:errors="*{familyName}" class="alert-message"/>
		</div>
		<div th:class="'form-group col-sm-6' + ${#fields.hasErrors('givenName') ? ' form-attention' : ''}">
			<label for="givenName">名</label>
			<input type="text" class="form-control" th:field="*{givenName}" th:maxlength="${length.givenName}"/>
			<span th:errors="*{givenName}" class="alert-message"/>
		</div>
	</div>

	<div class="form-row">
		<div th:class="'form-group col-sm-6' + ${#fields.hasErrors('familyNameKana') ? ' form-attention' : ''}">
			<label for="familyNameKana">姓（カナ）</label>
			<input type="text" class="form-control" th:field="*{familyNameKana}" th:maxlength="${length.familyNameKana}"/>
			<span th:errors="*{familyNameKana}" class="alert-message"/>
		</div>
		<div th:class="'form-group col-sm-6' + ${#fields.hasErrors('givenNameKana') ? ' form-attention' : ''}">
			<label for="givenNameKana">名（カナ）</label>
			<input type="text" class="form-control" th:field="*{givenNameKana}" th:maxlength="${length.givenNameKana}"/>
			<span th:errors="*{givenNameKana}" class="alert-message"/>
		</div>
	</div>


	<div class="form-row">
		<div th:class="'form-group col-sm-12' + ${#fields.hasErrors('email') ? ' form-attention' : ''}">
			<label for="email">メールアドレス</label>
			<input type="text" class="form-control" th:field="*{email}"  th:maxlength="${length.email}" onchange="setAccount();"/>
			<span th:errors="*{email}" class="alert-message"/>
		</div>
	</div>

	<div class="form-row mt-3">
		<div class="form-group col-sm-12 text-center">
			<button type="button" class="btn btn-primary mr-sm-2 pl-sm-4 pr-sm-4" data-toggle="modal" data-target="#modal1">　　編集する　　</button>
		</div>
	</div>

</form>


<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<br/>ユーザー情報を編集してもよろしいですか？<br/><br/>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
<button type="button" class="btn btn-primary" onclick="edit();">編集する</button>
</div>
</div>
</div>
</div>


</div>


</div>
<footer th:replace="front/commons::footer" class="container-fluid"/>

<th:block th:replace="front/commons::scripts(scripts=~{::script})">
<script type="text/javascript" th:src="@{/js/front.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function(){
	if($.cookie("compleate") == 'true'){
		$('#idCompleateMessage').show();
		$.cookie("compleate", 'false', { path:'/' });
	}
});
const edit = () => {
		$('#idForm').submit();
}

</script>
</th:block>

</body>
</html>
