@charset "utf-8";

*{
	font-size:15px;
	font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

html {overflow:hidden;}

body {overflow:hidden;}

div{
	position:absolute;
}

div.main-window{
	width:100%;
	background-color:#003567;
	height:100%;
	overflow:hidden;
}

div.taskbar{
	height:40px;
	width:100%;
	z-index:2147483646;
}

div.taskbar-bg{
	background-color:#090909;
	height:100%;
	width:100%;
	filter:alpha(opacity=80);
	-moz-opacity: 0.9;
	opacity: 0.9;

}

div.taskbar div.start-button{
	height:100%;
	width:40px;
	color:#fff;
	font-size:17px;
	padding-left:17px;
	line-height:40px;
}

div.taskbar div.start-button:hover{
	background-color:#212121;
	color:#429CE3;
}

div.taskbar div.cortana{
	left:48px;
	height:100%;
	width:40px;
	background-color:#F2F2F2;
	color:#000;
	font-size:26px;
	line-height:40px;
	padding-left:8px;
}

div.taskbar input.search-box{
	position:absolute;
	border:none;
	width:265px;
	height:100%;
	left:88px;
	background-color:#F2F2F2;
}

div.taskbar div.microphone{
	left:353px;
	height:100%;
	width:40px;
	background-color:#F2F2F2;
	color:#000;
	font-size:20px;
	line-height:40px;
	padding-left:13px;
}

div.taskbar div.tasktray{
	left:0px;
	height:100%;
	width:300px;
/*	background-color:#ff0000;*/
	font-size:20px;
	line-height:40px;
}

div.taskbar div.tasktray div.task-icon{
	left:0px;
	height:100%;
	width:34px;
	font-size:20px;
	line-height:40px;
/*	background-color:#ff00ff; */
	color:#fff;
	text-align:center;
}

div.taskbar div.tasktray div.task-icon.clock{
	padding-top:2px;
	width:80px;
	font-size:12px;
	line-height:18px;
}


div.taskbar div.task{
	width:50px;
	height:100%;
	background-size:30px 30px;
	background-position:center;
	background-repeat:no-repeat;
}

div.taskbar div.task:hover{
	filter:brightness(110%);
	background-color:#232323;
	transition: .4s;
}

div.taskbar div.task.active{
	filter:brightness(110%);
	background-color:#393939;
}


div.taskbar div.task div.line{
	width:40px;
	left:5px;
	background-color:#76B9ED;
}

div.taskbar div.task:hover div.line{
	width:50px;
	left:0px;
	background-color:#83C0EF;
	transition: .4s;
}

div.taskbar div.task.active div.line{
	width:50px;
	left:0px;
	background-color:#76B9ED;
}


div.icon{
	width:100px;
	height:100px;
}

div.icon-bg{
	width:120px;
	height:100px;
}


div.icon-bg.hover{
	background-image: url("../img/icon-bg.png");
	border:solid 1px #fff;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

div.icon div.image{
	width:60px;
	height:60px;
	top:2px;
	left:30px;
	background-size:contain;
}

div.icon div.title{
	width:120px;
	height:38px;
	top:62px;
	text-align:center;
	word-wrap: break-word;
	color:#fff;
	overflow:hidden;
	font-size:12px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding-left:2px;
	padding-right:2px;
}


div.window{
	width:600px;
	height:600px;
	background-color:#eee;
	box-sizing:content-box;
	-webkit-box-shadow: 0 0 15px 0 #666;
	-moz-box-shadow: 0 0 15px 0 #666;
	box-shadow: 0 0 15px 0 #999;
}


div.window.active{
	border:solid 1px #1883d7;
	-webkit-box-shadow: 0 0 30px 0 #666;
	-moz-box-shadow: 0 0 30px 0 #666;
	box-shadow: 0 0 30px 0 #999;
}


div.window div.titlebar{
	width:600px;
	height:30px;
	background-color:#fff;
	line-height:30px;
	font-size:13px;
	padding-left:10px;
}

div.window div.titlebar img{
	height:20px;
	width:20px;
	margin-right:5px;
}

div.window div.titlebar span{
	font-size:13px;
	cursor:default;
}

div.window div.titlebar div.button{
	position:relative;
	display:inline-block;
	float:right;
	width:40px;
	text-align:center;
	font-size:14px;
	color:#666;
}

div.window div.titlebar div.button:hover{
	background-color:#E5E5E5;
}

div.window div.titlebar div.button:active{
	background-color:#ccc;
}

div.window div.titlebar div.button.warn:hover{
	background-color:#E81123;
	color:#fff;
}

div.window div.titlebar div.button.warn:active{
	background-color:#F1707A;
	color:#fff;
}

div.window div.resize {
	background-color:red;
}
div.window div.resize.resize-left{
	cursor:w-resize;
}
div.window div.resize.resize-right{
	cursor:e-resize;
}
div.window div.resize.resize-top{
	cursor:n-resize;
}
div.window div.resize.resize-bottom{
	cursor:s-resize;
}
div.window div.resize {
	background-color:red;
}
div.window div.resize.resize-left-top{
	cursor:nw-resize;
}
div.window div.resize.resize-right-top{
	cursor:ne-resize;
}
div.window div.resize.resize-left-bottom{
	cursor:sw-resize;
}
div.window div.resize.resize-right-bottom{
	cursor:se-resize;
}

div.window div.frame{
	box-sizing:border-box;
	background-color:#fff;
}
