<!doctype html>
<html lang="ja">

<head th:replace="admin/commons::head(title=~{::title}, links=~{::link}, styles=~{::style})">
<title>共有情報新規登録｜Secure Practice Admin</title>

</head>

<body th:with="menuCode=101009,length=${T(com.office_nico.spractice.constants.Length)}">

<!-- ナビゲーション／上部ナビゲーション -->
<header th:replace="admin/commons::header(${menuCode})"></header>

<!-- メインコンテナ -->
<div id="mainContainer" class="main-container">

<!-- 左側ナビゲーション -->
<div class="left-nav" th:replace="admin/commons::leftNavigation(${menuCode})"></div>

<!-- 右側コンテンツ -->
<div class="content-outer"><div class="content-main"><div class="container-fluid">
<!--/* **************************** Start processing for each screen **************************** */-->

<nav aria-label="breadcrumb">
<ol class="breadcrumb">
	<li class="breadcrumb-item" aria-current="page"><a th:href="@{/t06o1ny8/informations}" th:text="共有情報管理"/></li>
	<li class="breadcrumb-item active" aria-current="page">共有情報新規登録</li>
</ol>
</nav>

<form method="post" th:action="@{/t06o1ny8/informations/new}" th:object="${obj}" >

<div class="card mb-3">
<div class="card-header function-title-bar">共有情報新規登録入力フォーム</div>


<div class="card-body">

	<th:block th:replace="admin/informations/form"/>

	<div class="form-row mt-2">
		<div class="form-group col-sm-12 text-center">
			<button type="button" class="btn btn-outline-secondary mr-sm-2 pl-sm-4 pr-sm-4" onclick="list();">キャンセル</button>
			<button type="submit" class="btn btn-primary mr-sm-2 pl-sm-4 pr-sm-4">登録する</button>
		</div>
	</div>
</div>

</div>

</form>





<!--/* **************************** End processing for each screen **************************** */-->
</div></div></div><!-- /.container-fluid --><!-- /.content-main --><!-- /.content-outer -->

<!-- フッター -->
<footer th:replace="admin/commons::footer"></footer>
</div><!--  /.main-container -->

</body>

<th:block th:replace="admin/commons::scripts(scripts=~{::script})">
<script type="text/javascript" th:inline="javascript">
const list = () => {
	location.href = [# th:text="@{/t06o1ny8/informations}" /];
};

$(function(){
	$('#idShowStartedOn').datetimepicker({
		dayViewHeaderFormat: 'YYYY年 MMMM',
		format: 'YYYY/M/D',
		locale: 'ja',
		useCurrent:false
	});

	$('#idShowEndedOn').datetimepicker({
		dayViewHeaderFormat: 'YYYY年 MMMM',
		format: 'YYYY/M/D',
		locale: 'ja',
		useCurrent:false
	});

	changeShowStatus();
	$('#isShowDashboard1').change(function(){
		changeShowStatus();
	});
});

const changeShowStatus = () => {
	
	if($('#isShowDashboard1').prop('checked')){
		$('#idShowStartedOn').prop('disabled', true);
		$('#idShowEndedOn').prop('disabled', true);
	}
	else{
		$('#idShowStartedOn').prop('disabled', false);
		$('#idShowEndedOn').prop('disabled', false);
	}
}

</script>
</th:block>

</html>

