<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>利用することができません</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/webjars/font-awesome/css/all.min.css}" type="text/css" rel="stylesheet"/>
<style type="text/css">
body {
  background-color: #f3f3f3;
  text-align:center;
}

img{
	margin-top:160px;
}

h1{

	margin-top:40px;
	margin-bottom:40px;
	font-size:40px;
}


</style>
</head>
<body>

<img th:src="@{/img/logo_login.png}"/>

<h1>このページを利用することができません。</h1>
<h3>あなたのアカウントでは、このページを利用することができません。</h3>
<h3>アカウントまたはURLをご確認の上、再アクセスしてください。</h3>

</body>
</html>
